extends layout

block content
  .row
    .col
      .btn-group(role='group' aria-label='Navs')
        a.btn.btn-primary#pg(type='button' href='/alumnos') Inicio   
          i.bi.bi-caret-right
        button.btn.btn-primary#pg(type='button' disabled) Entregas y solicitudes   
  .container-fluid
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Solicitudes realizadas
          .row.rowtabla
            .row
              .col
                table#tablaSolicitud.table.table-bordered.tabla
                  thead
                    tr
                      th(style='display: none;') Id
                      th(scope='col') Libro
                      th(scope='col') Fecha de Solicitud
                      th(scope='col') Fecha de Entrega
                      th(scope='col') Estatus_Prestamo
                      th(scope='col') Ver detalles de Libro
                  tbody
                    -var meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];
                    -var dias_semana = ['Domingo', 'Lunes', 'martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];
                    each solicitud in Solicitud 
                      tr 
                        td(style='display:none;' id='id') #{solicitud._id}
                        td #{solicitud.libro.Nombre}
                        td #{dias_semana[solicitud.Fecha_Solicitud.getDay()] + ', ' + solicitud.Fecha_Solicitud.getDate() + ' de ' + meses[solicitud.Fecha_Solicitud.getMonth()] + ' de ' + solicitud.Fecha_Solicitud.getUTCFullYear()}
                        td #{dias_semana[solicitud.Fecha_Entrega.getDay()] + ', ' + solicitud.Fecha_Entrega.getDate() + ' de ' + meses[solicitud.Fecha_Entrega.getMonth()] + ' de ' + solicitud.Fecha_Entrega.getUTCFullYear()}
                        if solicitud.Estatus_Prestamo == "Denegado"
                          td(style='background-color: red; color:white') #{solicitud.Estatus_Prestamo}
                        else
                          if solicitud.Estatus_Prestamo == "Aceptado"
                            td(style='background-color: green; color:white') #{solicitud.Estatus_Prestamo}
                          else 
                            if solicitud.Estatus_Prestamo == "Cancelado"
                              td(style='background-color: black; color:white') #{solicitud.Estatus_Prestamo}
                            else 
                              td(style='background-color: blue; color:white') #{solicitud.Estatus_Prestamo}
                        td 
                          -var url = "/alumnos/alumnos_vista_libro_historial/"+ (JSON.parse(JSON.stringify(solicitud.libro._id)))
                          a(href=url) 
                            img(src='/images/icon-mas.png' width='30px')  

    script(src="/js/sweet_carga.js")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
