extends layout

block content
  .row
    .col
      .btn-group(role='group' aria-label='Navs')
        a.btn.btn-primary#pg(type='button' href='/alumnos') Inicio   
          i.bi.bi-caret-right
        button.btn.btn-primary#pg(type='button' disabled) Buscar y solicitar libro   
  .container-fluid
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Libros
          .row.rowtabla
            .row
              .col
                table#tabla.table.table-bordered.tabla
                  thead
                    tr
                      th(scope='col') Nombre
                      th(scope='col') Autor
                      th(scope='col') Editorial
                      th(scope='col') Unidades Disponibles
                      th(scope='col') Ver detalles
                  tbody
                    each libro in Libro 
                      tr
                        td #{libro.Nombre}
                        td #{libro.Autor}                      
                        td #{libro.Editorial}
                        td #{libro.Unidades_Disponibles}
                        td  
                          -var url = "/alumnos/alumnos_vista_libro/" + libro._id 
                          a.btn.btn-outline-danger.bi.bi-book(href=url) 
    script(src="/js/sweet_carga.js")               
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous") 
