extends layout

block content
  .container-fluid
    .row
      .col
        nav.navbar.navbar-light.bg-light.barrabusqueda1
          form.container-fluid.justify-content-start
            .col-4.barrabusqueda
              input.form(type='search' placeholder='Nombre' style='width : 100%;')
            .col-4.barrabusqueda
              input.form(type='search' placeholder='Carrera' style='width : 100%;')
            .col-2
              button.btn.btn-outline-success(type='submit')
                img(src='/images/buscar.png' width='20px')
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Usuarios
          .row.rowtabla
            .row  
              .col
                table.table.table-bordered.tabla
                  thead
                    tr
                      th(style='display: none;') Id
                      th(scope='col') Nombre
                      th(scope='col') Carrera
                      th(scope='col') Telefono
                      th(scope='col') Correo electronico
                      th(scope='col') Estatus
                      th(scope='col') Acciones
                  tbody
                    each alumno in Alumno
                      tr
                        td(style='display: none;' id='id') #{alumno._id}
                        th #{alumno.Nombre_s}
                        td #{alumno.Carrera_Tecnica}
                        td #{alumno.Telefono_movil_celular}
                        td #{alumno.Correo_Electronico_1}
                        td #{alumno.EstatusEscolar}
                        td 
                          -var url = "/administrar/eliminar/" + alumno._id
                          a.btn.btn-outline-danger.bi.bi-trash(href=url)               