extends layout

block content
  .container-fluid
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Atender Solicitudes
          .row.rowtabla
            .row
              .col
                table#tablaSolicitud.table.table-bordered.tabla
                  thead
                    tr
                      th(style='display: none;') Id
                      th(scope='col') Solicitante
                      th(scope='col') Libro
                      th(scope='col') Fecha de Solicitud
                      th(scope='col') Número de Renovacion
                      th(scope='col') EstatusPrestamo
                      th(scope='col') Ver detalles de Libro
                      th(scope='col') Ver detalles de Alumno
                  tbody
                    each solicitud in Solicitud 
                      tr 
                        td(style='display:none;' id='id') #{solicitud._id}
                        th #{solicitud.nombre.Nombre_s}
                        td #{solicitud.Libro}
                        td #{solicitud.FechaSolicitud}
                        td #{solicitud.NumeroRenovacion}
                        td #{solicitud.EstatusPrestamo}
                        td 
                          a(href='/administrar/detalle_libro') 
                            img(src='/images/icon-mas.png', width='30px')
                        td 
                          -var url = "/administrar/detalle_alumno/"+ solicitud.Solicitante
                          a(href=url)
                            img(src='/images/icon-mas.png', width='30px')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")                     